<div>
    <h1>Hola mundo!</h1>
    <input type="text" id="inputInfo" /> <button id="sendInfo">Enviar</button>
    <div id="outputInfo"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>